flask==3.1.2
flask-cors==6.0.2
gunicorn==23.0.0
gevent==24.11.1
python-dotenv==1.1.1
PyJWT==2.10.1
requests==2.32.5
mammoth==1.11.0
Unidecode==1.4.0
PyPDF2==3.0.1
Pillow==11.3.0
openai==1.108.2
Markdown==3.7
python-docx==1.1.2
openpyxl==3.1.5
supabase==2.28.3
psycopg[binary]==3.2.12
oss2==2.19.1
alembic==1.16.1
celery==5.4.0
redis==5.0.8
